@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-page {
    background-image: url(../images/Space-background.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.top-layer {
    background-color: #1F2937;
    width: 1440px;
    height: 534px;
    padding-left: 207px;
    padding-right: 207px;
    padding-top: 20px;
}

.top-layer-header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
}

.header-links li {
    display: flex;
    padding-left: 24px;
}

.header-links a,
.header-links a:link,
.header-links a:visited,
.banner-text-content {
    font-size: 18px;
    color: #E5E7EB;
}

.heroic-logo a,
.heroic-logo:link,
.heroic-logo:visited {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.heroic-logo a:hover,
.header-links a:hover {
    color: #84888E;
}

.heroic-logo a:active,
.header-links a:active {
    color: rgb(38, 221, 148);
}

/* Banner */
.banner-container {
    display: flex;
    gap: 65px;
    margin-top: 125px;
}

.banner-text-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.banner-text-content {
    margin-top: 12px;
}

.banner-image img {
    background-color: #6D747D;
}

.info-item-picture {
    background-color: #ffff;
}

.banner-form-signup,
.pushup-sign-up {
    cursor: pointer;
    background-color: #3882f6;
    color: #ffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
    padding: 10px 37px;
    margin-top: 12px;
}

/* Info layer */
.info-layer {
    background-color: white;
    width: 1440px;
    text-align: center;
    padding-top: 70px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-container {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 136px;
}

.info-item-picture {
    border: 4px solid #3882f6;
    border-radius: 8px;
    min-width: 156px;
    max-width: 156px;
}

.info-item-text {
    color: #6b6b6c;
    max-width: 156px;
    margin-top: 0.5em;
    font-weight: 500;
}

/* Citate */
.citate-container {
    background-color: #E5E7EB;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 136px 340px;
}

.citate-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.citate-author {
    align-self: flex-end;
    font-weight: 600;
    font-size: 24px;
}

/* Pushup */
.pushup-layer {
    width: 1440px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 206px;
}

.pushup-container {
    width: 1022px;
    height: 148px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pushup-text-container {
    color: #ffff;
}

.pushup-header {
    font-size: 24px;
    font-weight: 500;
}

.pushup-content {
    font-size: 18px;
}

.pushup-sign-up {
    border: 2px solid white;
}

/* Footer */
.footer {
    background-color: #1F2937;
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #ffff;
    font-size: 18px;
}